<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zkar.dao.MCGSMapper">
	<resultMap id="BaseResultMap" type="com.zkar.module.MCGS">
        <result column="id" jdbcType="INTEGER" property="id" />
        <!-- account_id 为了对应前台传过来的字段 -->
        <result column="value" jdbcType="INTEGER" property="value" />
        <result column="flag" jdbcType="VARCHAR" property="flag" />
        <result column="time" jdbcType="TIMESTAMP" property="time" />
    </resultMap>
	 <insert id="save">
       insert into emq_01
		(flag, value, time)
        <foreach collection="list" item="element" index="index" separator="union all">
            (select
            #{element.flag,jdbcType=VARCHAR},
            #{element.value,jdbcType=VARCHAR},
             now())
        </foreach>
    </insert>
</mapper>